
@{
    ViewData["Title"] = "TabSelector";
}

<div class='row'>
    <div class='col-xs-9 col-xs-offset-1'>
        <h1>@ViewData["Title"]</h1>
        <a asp-action="Index" asp-controller="Home">
            retun to SPA pages
        </a>
    </div>
</div>

